In [1]:
import pandas as pd
import numpy as np

In [10]:

# Read the Verbraucher Preisindex CSV
# Read the CSV with semicolon separator and specify encoding if needed
df_vpi = pd.read_csv("Verbraucherpreisindex.csv", sep=';', header=None, 
                        names=['Jahr', 'Monat', 'VPI'], 
                        encoding='utf-8')  # Adjust encoding if needed


df_vpi

    Jahr      Monat    VPI
0   2013     Januar   97,4
1   2013    Februar   98,0
2   2013       März   98,4
3   2013      April   98,0
4   2013        Mai   98,4
..   ...        ...    ...
91  2020     August  106,0
92  2020  September  105,8
93  2020    Oktober  105,9
94  2020   November  105,0
95  2020   Dezember  105,5

[96 rows x 3 columns]

In [11]:
print(df_vpi.head())

   Jahr    Monat   VPI
0  2013   Januar  97,4
1  2013  Februar  98,0
2  2013     März  98,4
3  2013    April  98,0
4  2013      Mai  98,4

In [12]:
# Create a mapping of German month names to numbers
month_mapping = {
    'Januar': 1, 'Februar': 2, 'März': 3, 'April': 4, 
    'Mai': 5, 'Juni': 6, 'Juli': 7, 'August': 8, 
    'September': 9, 'Oktober': 10, 'November': 11, 'Dezember': 12
}

df_vpi['Monat'] = df_vpi['Monat'].map(month_mapping)

df_vpi.head()


# # Convert month names to numbers
# df_vpi['Monat_Nummer'] = df_vpi['Monat'].map(month_mapping)

# # Create a datetime column
# df_vpi['Datum'] = pd.to_datetime(
#     df_vpi['Jahr'].astype(str) + '-' + 
#     df_vpi['Monat_Nummer'].astype(str) + 
#     '-01'
# )

   Jahr  Monat   VPI
0  2013      1  97,4
1  2013      2  98,0
2  2013      3  98,4
3  2013      4  98,0
4  2013      5  98,4

In [13]:
df_vpi['VPI'] = df_vpi['VPI'].str.replace(',', '.')
df_vpi['VPI'] = df_vpi['VPI'].astype(float)
df_vpi.head()

   Jahr  Monat   VPI
0  2013      1  97.4
1  2013      2  98.0
2  2013      3  98.4
3  2013      4  98.0
4  2013      5  98.4

In [15]:
df_vpi['Datum'] = pd.to_datetime(df_vpi['Jahr'].astype(str) + '-' + df_vpi['Monat'].astype(str) + '-01')
df_vpi.head()

   Jahr  Monat   VPI      Datum
0  2013      1  97.4 2013-01-01
1  2013      2  98.0 2013-02-01
2  2013      3  98.4 2013-03-01
3  2013      4  98.0 2013-04-01
4  2013      5  98.4 2013-05-01