In [47]:
# Import necessary libraries
import pandas as pd
import numpy as np
import os

# Import Data
training_data = pd.read_csv('../../../0_DataPreparation/00_data/Trainingsdaten_long.csv')
validation_data = pd.read_csv('../../../0_DataPreparation/00_data/Validierungsdaten_long.csv')
test_data = pd.read_csv('../../../0_DataPreparation/00_data/Testdaten.csv')
test_data

,id,Datum,Warengruppe_1,Warengruppe_2,Warengruppe_3,Warengruppe_4,Warengruppe_5,Warengruppe_6,Temp_Very_Cold,Temp_Cold,...,Monat_7,Monat_8,Monat_9,Monat_10,Monat_11,Monat_12,zwischen_den_jahren,Number_of_ships_scaled,Cloud_ok,Wind_ok
0,1808011,2018-08-01,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0.0,1,1
1,1808021,2018-08-02,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0.0,1,1
2,1808031,2018-08-03,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0.0,1,1
3,1808041,2018-08-04,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0.2,1,1
4,1808051,2018-08-05,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1825,1812226,2018-12-22,0,0,0,0,0,1,0,1,...,0,0,0,0,0,1,0,0.0,0,1
1826,1812236,2018-12-23,0,0,0,0,0,1,0,1,...,0,0,0,0,0,1,0,0.0,0,1
1827,1812246,2018-12-24,0,0,0,0,0,1,0,1,...,0,0,0,0,0,1,0,0.0,0,1
1828,1812276,2018-12-27,0,0,0,0,0,1,0,1,...,0,0,0,0,0,1,1,0.0,0,1
1829,1812286,2018-12-28,0,0,0,0,0,1,0,1,...,0,0,0,0,0,1,1,0.0,0,1

In [48]:
#nur die fÃ¼r die Warengruppe_5 spezifischen Zeilen raussuchen
training_data = training_data[training_data["Warengruppe_5"] == 1]
validation_data = validation_data[validation_data["Warengruppe_5"] == 1]
test_data = test_data[test_data["Warengruppe_5"] == 1]

# Liste der gewÃ¼nschten Spalten
desired_columns = ['Datum',
            'Umsatz',
            #'Temp_Very_Cold', 
            'Temp_Cold', 
            'Temp_Mild', 
            'Temp_Warm', 
            'Temp_Hot', 
            #'Cloud_Clear', 
            #'Cloud_Partly_Cloudy', 
            'Cloud_ok',
            'Cloud_Cloudy', 
            #'Wind_Light', 
            #'Wind_Moderate', 
            #'Wind_ok',
            #'Wind_Strong', 
            #'Weather_Good', 
            #'Weather_Light_Issues', 
            #'Weather_Moderate', 
            #'Weather_Severe', 
            'KielerWoche', 
            'Montag', 
            'Dienstag', 
            'Mittwoch', 
            'Donnerstag', 
            'Freitag',
            'Samstag',
            'Sonntag',
            'VPI',
            #'Number_of_ships',
            'Number_of_ships_scaled',
            #'Ship',
            #'Heimspiel', --> weglassen
            'Feiertag',
            'is_holiday',
            'Weihnachtsmarkt',
            #'Markt',
            'Ostertag',
            'Silvester',
            'Werktag',
            #'FrÃ¼hling',
            'Sommer',
            #'Herbst',
            'Winter',
            'wetter_sehr_schlecht',
            'wetter_sehr_schÃ¶n',
            'Monat_1',
            'Monat_2',
            'Monat_3',
            'Monat_4',
            'Monat_5',
            'Monat_6',
            'Monat_7',
            'Monat_8',
            'Monat_9',
            'Monat_10',
            'Monat_11',
            'Monat_12',
            'zwischen_den_jahren',
            ]

# WÃ¤hle nur die gewÃ¼nschten Spalten aus
training_data = training_data[desired_columns]
validation_data = validation_data[desired_columns]
desired_columns.remove('Umsatz') # da Umsatz nicht im Testdatensatz enthalten ist, muss es hier entfernt werden
test_data = test_data[desired_columns]

training_data.head()  # Print first few rows to verify

test_data.head()

,Datum,Temp_Cold,Temp_Mild,Temp_Warm,Temp_Hot,Cloud_ok,Cloud_Cloudy,KielerWoche,Montag,Dienstag,...,Monat_4,Monat_5,Monat_6,Monat_7,Monat_8,Monat_9,Monat_10,Monat_11,Monat_12,zwischen_den_jahren
1419,2018-08-01,0,0,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1420,2018-08-02,0,0,0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1421,2018-08-03,0,0,0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1422,2018-08-04,0,0,0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1423,2018-08-05,0,0,1,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [49]:
# Separating features and labels
training_features = training_data.drop('Umsatz', axis=1).drop('Datum', axis=1)
validation_features = validation_data.drop('Umsatz', axis=1).drop('Datum', axis=1)
test_features = test_data.drop('Datum', axis=1)

training_labels = training_data[['Umsatz']]
validation_labels = validation_data[['Umsatz']]
#test_labels = test_data[['price']]

# Print dimensions of the dataframes
print("Training features dimensions:", training_features.shape)
print("Validation features dimensions:", validation_features.shape)
print("Test features dimensions:", test_features.shape)
print()
print("Training labels dimensions:", training_labels.shape)
print("Validation labels dimensions:", validation_labels.shape)
#print("Test labels dimensions:", test_labels.shape)

Training features dimensions: (1462, 39)
Validation features dimensions: (357, 39)
Test features dimensions: (355, 39)

Training labels dimensions: (1462, 1)
Validation labels dimensions: (357, 1)

In [50]:
# Create subdirectory for the pickle files
subdirectory = "pickle_data_Kuchen"
os.makedirs(subdirectory, exist_ok=True)

# Export of the prepared data to subdirectory as pickle files
training_features.to_pickle(f"{subdirectory}/training_features.pkl")
validation_features.to_pickle(f"{subdirectory}/validation_features.pkl")
test_features.to_pickle(f"{subdirectory}/test_features.pkl")
training_labels.to_pickle(f"{subdirectory}/training_labels.pkl")
validation_labels.to_pickle(f"{subdirectory}/validation_labels.pkl")
#test_labels.to_pickle(f"{subdirectory}/test_labels.pkl")